<div class="container">
    <button mat-mini-fab (click)="moveSlider('left')" class="slider-button" type="button">
        <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
    <div class="slider-container">
        <div class="slider" [ngStyle]="{'transform': 'translateX('+transformX+'%)'}">
            @for (day of days; track $index) {
            <mat-card class="date-col">
                <mat-card-header>
                    <mat-card-title>
                        <div class="date-day">{{day.getDay() | dayFormat}}</div>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <div class="date-format">{{day | date: 'MM.dd.'}}</div>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="date-times">
                        @for (time of times; track $index) {
                            @if (appointments.get(day.toDateString())?.includes(time)) {
                                <button mat-button color="warn" class="time-button" type="button" disabled>{{time | timeFormat}}</button>
                            }
                            @else {
                                <button 
                                    mat-button class="time-button"
                                    type="button"
                                    [ngClass]="selectedDay == day.toDateString()+'-'+time ? 'time-button-selected' : ''"
                                    (click)="selectDate(day.toDateString(), time)">
                                    {{time | timeFormat}}
                                </button>
                            }
                        }
                    </div>
                </mat-card-content>
            </mat-card>
            }
        </div>
    </div>
    <button mat-mini-fab (click)="moveSlider('right')" class="slider-button" type="button">
        <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
</div>