<div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Bejelentkezés
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Teljes név</mat-label>
                    <input matInput formControlName="fullName">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" [errorStateMatcher]="emailError">
                    @if (loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')) {
                        <mat-error>Adj meg szabályos email címet</mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Jelszó</mat-label>
                    <input matInput formControlName="password" matNativeControl type="password" [errorStateMatcher]="passwordError">
                    @if (loginForm.get('password')?.hasError('minlength') && !loginForm.get('password')?.hasError('required')) {
                        <mat-error>Minimum 8 karakternek kell lennie</mat-error>
                    }
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Login</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>