<div class="main-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">
        <mat-card class="card-container">
            <mat-card-header>
                <mat-card-title>
                    Bejelentkezés
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" [errorStateMatcher]="emailError">
                    @if (loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')) {
                        <mat-error>Adj meg szabályos email címet</mat-error>
                    }
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>Jelszó</mat-label>
                    <input matInput formControlName="password" type="password" [errorStateMatcher]="passwordError">
                    @if (loginForm.get('password')?.hasError('minlength') && !loginForm.get('password')?.hasError('required')) {
                        <mat-error>Minimum 8 karakternek kell lennie</mat-error>
                    }
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="card-action">
                <button mat-raised-button color="primary" type="submit" class="action-button">Bejelentkezés</button>
                <button mat-raised-button color="primary" type="button" class="action-button" (click)="goRegister()">Regisztráció</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>