<div class="main-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'" class="sidenav-list">
            <div class="navbar">
                <app-navbar [user] = "user"></app-navbar>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <button mat-icon-button class="toggle-button" (click)="sidenav.toggle()">
                @if (isMobile) {
                    <mat-icon>menu</mat-icon>
                }
                @else {
                    @if (sidenav.opened) {
                        <mat-icon>arrow_back_ios</mat-icon>
                    }
                    @else {
                        <mat-icon>arrow_forward_ios</mat-icon>
                    }
                }
            </button>
            <router-outlet />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>