<div class="main-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="side" disableClose="true" opened="true" class="asd">
            <div class="navbar">
                <app-navbar></app-navbar> <!--  TODO: input es output -->
            </div>
        </mat-sidenav>
    
        <mat-sidenav-content>
            <div class="navbar-mobile">
                <button mat-icon-button (click)="open = !open">
                    @if (open) {
                        <mat-icon>arrow_back_ios</mat-icon>
                    }
                    @else {
                        <mat-icon>arrow_forward_ios</mat-icon>
                    }
                </button>
            </div>
            <router-outlet />
            <!-- <div>
                <app-footer></app-footer>
            </div> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>