<div>
    <div class="nav-item" routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page">
        @if(true){
            <div>Főoldal</div>
        }
        @else{
            
        }
        <mat-icon matListItemIcon>home</mat-icon>
    </div>
    <div class="nav-item" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
        @if(true){
            <div>Bejelentkezés</div>
        }
        @else{
            
        }
        <mat-icon>login</mat-icon>
    </div>
</div>