<mat-nav-list>
    <mat-list-item routerLink="/main" routerLinkActive="active" ariaCurrentWhenActive="page">
        @if(true){
            <span matListItemTitle>Főoldal</span>
        }
        @else{
            
        }
        <mat-icon matListItemIcon>home</mat-icon>
    </mat-list-item>
    @if (!this.user) {
        <mat-list-item routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
            @if(true){
                <span matListItemTitle>Bejelentkezés</span>
            }
            @else{
                
            }
            <mat-icon matListItemIcon>login</mat-icon>
        </mat-list-item>
    }
    @if(this.user){
        <mat-list-item routerLink="/book" routerLinkActive="active" ariaCurrentWhenActive="page">
            @if(true){
                <span matListItemTitle>Időpontfoglalás</span>
            }
            @else{
                
            }
            <mat-icon matListItemIcon>book_online</mat-icon>
        </mat-list-item>
        @if (this.user.role === 'admin') {
            <mat-list-item routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">
                @if(true){
                    <span matListItemTitle>Ügyintézéss</span>
                }
                @else{
                    
                }
                <mat-icon matListItemIcon>book_online</mat-icon>
            </mat-list-item>
        }
        <mat-list-item (click)="logout()">
            @if(true){
                <span matListItemTitle>Kijelentkezés</span>
            }
            @else{
                
            }
            <mat-icon matListItemIcon>logout</mat-icon>
        </mat-list-item>
    }
</mat-nav-list>